<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apptics-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Apptics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>AppticsAnalyt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AppticsAnalytics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AppticsApiTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AppticsCrashKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AppticsCrossPromotion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AppticsEventTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AppticsFeedbackKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AppticsInAppUpdate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AppticsRateUs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AppticsRemoteConfig.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AppticsScreenTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>Apptics</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsAnalytics</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsApiTracker</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsCrashKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsCrossPromotion</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsCrossPromotionTarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsEventTracker</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsFeedbackKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsInAppUpdate</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsRateUs</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsRemoteConfig</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppticsScreenTracker</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Apptics_AppticsCrossPromotionTarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Apptics_Apptics_SwiftResources</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Apptics_SwiftResources</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
